*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
}

/* NAVBAR */
.navbar{
    height: 100vh;
    width: 314px;
    background-color: black;
    position: sticky;
    top: 0%;
    border-right: 1px solid #6c7075;
    
}
.side-bar{
    width: 244px;
    margin-left: 20px;
    padding: 12px;
}
.logo i{
    color: white;
    margin-left: 45px;
}
.icons{
    width: 244px;
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    cursor: pointer;
    padding-left: 10px;
}

.navbar-icon{
    width: auto;
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    cursor: pointer;
    padding: 20px;

}
.navbar-icon i{
    width: 26px;
    height: 26px;
    margin-right: 20px;
    
}
.navbar-icon:hover{
    background-color: #181818;
    border-radius: 25px;
}
.tweet-button button{
    width: 219px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background-color: aqua;
}
.profiles{
    width: 244px;
    height: 65px;
    padding: 12px;
    display: flex;
    cursor: pointer;
}
.profiles:hover{
    background-color: #181818;
    border-radius: 30px;
}
.profile-image img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.account-details{
    margin: 0;
}
.account-name{
    margin-left: 12px;
    color: white;
    font-weight: 700;
}
.user-name{
    margin-left: 12px;
    color: #6c7075;
}

/* MAINBODY */
.mainbody{
    width: 600px;
    background-color: black;
    overflow-y: scroll;
}
.home-nav{
    height: 153px;
    border-bottom: 1px solid #6c7075;
}
.home{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 30px;
    padding-left: 6px;
}
.home span{
    color: white;
}

.whats-happening-bar{
    display: flex;
    padding-left: 16px;
}
.happening-text{
    padding-left: 10px;
    padding-top: 10px;
    height: 56px;
}
.happening-text h6{
    font-size: 20px;
}
.home-nav-icons{
    display: flex;
    justify-content: space-around;
    height: 48px;
}
.nav-home span{
    color: dodgerblue;
    height: 34px;
    width: 34px;
    margin-top: 10px;
    cursor: pointer;
}
.tweet-btn{
    color: white;
    background-color: dodgerblue;
    height: 36px;
    width: 78px;
    border: 1px solid dodgerblue;
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 12px;
}

.show-tweet{
    display: flex;
    justify-content: center;
    height: 48px;
    border-bottom: 1px solid #6c7075;
}
.show-tweet:hover{
    background-color: #0e1111;
}
.tweet{
    padding: 10px 0;
    color: dodgerblue;
}

.mainbody-tweets{
    border-bottom: 1px solid #6c7075;
}
.mainbody-tweet{
    display: flex;
    
}
.mainbody-tweet img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.account-image{
    padding-top: 10px;
    padding-left: 15px;
}
.account-info{
    padding-left: 10px;
}
.tweet-post{
    padding-left: 10px;
    padding-right: 13px;
}
.posting{
    color: white;
}
.tweet-icons{
    display: flex;
    justify-content: space-around;
    color: #6c7075;
    cursor: pointer;
}
.tweet-icons span{
    padding: 10px;
}
.tweet-icons span:hover{
    background-color: lightgray;
    border-radius: 50px;
}


.trending-bar{
    background-color: black;
    width: calc(100% - 914px);
    display: flex;
    flex-direction: column;
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}
.search{
    background-color: #181818;
    width: 360px;
    height: 40px;
    border-radius: 25px;
    padding-top: 3px;
    margin-top: 3px;
}
.search i{
    color: #6c7075;
    margin: 0;
    align-items: center;
}
.search input{
    padding: 0 20px 0 6px;
    background-color: #181818;
    color: #6c7075;
    border: none;
    width: 90%;
}

.trends{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.trend{
    background-color: #181818;
    width: 348px;
    border-radius: 20px;

}
.trends-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 16px 12px;
}



.trending-news{
    background-color: #181818;
    
}
.news{
    padding: 0;
    margin: 0;
    height: 100px;
    
}
.news-profile{
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
}
.news-profile p{
    color: #6c7075;
    margin: 1px;
}
.news-profile h6{
    color: white;
    margin: 1px;
    cursor: pointer;
}
.news-profile i{
    color: #6c7075;
    cursor: pointer;
}
.showmore-trend{
    padding: 16px 12px 5px 12px;
    color: dodgerblue;
}